<div class="container">
    <section class="p-4 shadow bg-white rounded my-3">
        <h1 class="h4 text-success">Cadastrar</h1>
        <div class="alert alert-success" role="alert" [hidden]="alert">
            Item registrado com sucesso!
        </div>
        <p>Preencha os dados abaixo:</p>
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Campo 1</label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
        </div>
        <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Campo 2</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>
        <button routerLink="/" class="btn btn-sm btn-secondary">Cancelar</button>
        <button (click)="alert = !alert" class="btn btn-sm btn-primary">Cadastrar</button>
    </section>
</div>